@model IEnumerable<QL_WebsiteBanSach.Models.tbl_Sach>

@{
	ViewBag.Title = "Tất Cả Sách";
	Layout = "~/Views/Shared/Main_Layout_Page.cshtml";
}

<div class="container-fluid pt-5">
	<div class="row px-xl-5">
		<!-- Filter Start -->
		@Html.Action("Library_Filter", "Library")
		<!-- Filter End -->
		<!-- Book Start -->
		<div class="col-lg-9 col-md-12">
			<div class="row pb-3">
				<div class="col-12 pb-1">
					<div class="d-flex align-items-center justify-content-between mb-4">
						<form action="">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search by name">
								<div class="input-group-append">
									<span class="input-group-text bg-transparent text-primary">
										<i class="fa fa-search"></i>
									</span>
								</div>
							</div>
						</form>
						<div class="dropdown ml-4">
							<button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
								Sort by
							</button>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
								<a class="dropdown-item" href="#">Mới Nhất</a>
								<a class="dropdown-item" href="#">Mắc Nhất</a>
								<a class="dropdown-item" href="#">Hay Nhất</a>
							</div>
						</div>
					</div>
				</div>
				@{
					foreach (var item in Model)
					{
						if (item.tbl_ChiTietSach == null) { continue; }
						@Html.Action("Book_Card", "Book", new { id = item.MaSach })
					}
				}
			</div>
		<!-- Book End -->
	</div>
</div>
</div>
