<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
	<div class="row px-xl-5 pt-5">
		<div class="col-lg col-md-12 mb-5 pr-3 pr-xl-5">
			<a href="@Url.Action("Index", "Home")" class="text-decoration-none">
				<h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">POUR</span>BOOKS</h1>
			</a>
			<p>Cửa Hàng Bán Sách Online Số 1 Thế Giới. Cùng Chúng Tôi Mở Rộng Kiến Thức Của Bạn Về Thế Giới Diệu Kỳ Của Việc Đọc Sách.</p>
			<p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Địa Chỉ Ảo</p>
			<p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>Email Ảo</p>
			<p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>Số Điện Thoại Ảo</p>
		</div>
		<div class="col-lg col-md-12">
			<h1 class="mb-4 display-5 font-weight-semi-bold text-primary">Đề Án Môn Lập Trình Web</h1>
			<p class="mb-2"><span class="font-weight-bold text-primary">Đề Tài:</span> Website Bán Sách</p>
			<p class="mb-2 font-weight-bold text-primary">Thành Viên Nhóm:</p>
			<ul>
				<li><p class="mb-2">Lê Huỳnh Đức - 2001210765 - Nhóm Trưởng</p></li>
				<li><p class="mb-2">Nguyễn Bảo Long - 2001210745</p></li>
				<li><p class="mb-2">Nguyễn Thị Thu Hiền - 2001215764</p></li>
				<li><p class="mb-2">Phạm Nguyễn - 2001210784</p></li>
			</ul>
			<p class="mb-2"><span class="font-weight-bold text-primary">Giáo Viên:</span> Nguyễn Hải Yến</p>
		</div>
	</div>
</div>


