<footer id="footer" class="footer">
	<div class="credits">
		<h1 class="mb-4 display-5 font-weight-semi-bold text-primary">Đề Án Môn Lập Trình Web</h1>
		<p class="mb-2"><span class="font-weight-bold text-primary">Đề Tài:</span> Website Bán Sách</p>
		<p class="mb-2 font-weight-bold text-primary">Thành Viên Nhóm</p>
		<p class="mb-2">Lê Huỳnh Đức - 2001210765 - Nhóm Trưởng</p>
		<p class="mb-2">Nguyễn Bảo Long - 2001210745</p>
		<p class="mb-2">Nguyễn Thị Thu Hiền - 2001215764</p>
		<p class="mb-2">Phạm Nguyễn - 2001210784</p>
		<p class="mb-2"><span class="font-weight-bold text-primary">Giáo Viên:</span> Nguyễn Hải Yến</p>
	</div>
</footer>
