<div class="container-fluid">
	<div class="row align-items-center py-3 px-xl-5">
		<div class="col-lg-3 d-none d-lg-block">
			<a href="" class="text-decoration-none">
				@*<h1 style="max-height:100px" class="m-0 display-5 font-weight-semi-bold"><img style="width:100%; object-fit:cover; background:center" src="~/Assets/img/Logo.jpg" alt="Alternate Text" /></h1>*@
			</a>
		</div>
		<div class="col-lg-6 col-6 text-left">
			@using (Html.BeginForm("Searched_Books", "Book"))
			{
				<div class="input-group">
					<input type="text" class="form-control" name="search" placeholder="Tìm Kiếm Sản Phẩm">
					<div class="input-group-append">
						<button type="submit" class="input-group-text bg-transparent text-primary">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			}
		</div>
		<div class="col-lg-3 col-6 text-right">
			<a href="" class="btn border">
				<i class="fas fa-heart text-primary"></i>
				<span class="badge">0</span>
			</a>
			<a href="@Url.Action("Cart_Page", "Cart")" class="btn border">
				<i class="fas fa-shopping-cart text-primary"></i>
				<span class="badge">@Html.Action("Get_TotalQuantity", "Cart").ToString()</span>
			</a>
		</div>
	</div>
</div>

